.first-entry {
    width: 60%;
    margin: auto;
    padding-top: 80px;
}

.jobtitle {
    font-weight: bold;
    font-style: italic;
}

.duties {
    font-style: italic;
}

.unstyled {
    list-style-type: none;
}

.reference {
    text-align: center;
}

.full-wrap {
    background-color: antiquewhite;
}

.pad-entry{
    padding-top: 30px;
}

.class-list {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    width: 50%;
}

.lang {
    font-weight: 500;
    float: right;
}

.skill-block {
    display: flexbox;
    width: 450px;
    height: 250px;
}