.project {
    width: 60%;
    margin: auto;
}

.jobtitle {
    font-weight: bold;
    font-style: italic;
}

.duties {
    font-style: italic;
    width: 60%;
}

ul {
    list-style-type: none;
}

.reference {
    text-align: center;
}

.full-wrap {
    background-color: antiquewhite;
}

.parent {
    height:100vh;
}

.entry {
    padding-top: 80px;
}